<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寻找春季女神</title>
    <meta name="viewport" content="width=750,user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="mobileOptimized" content="width">
    <meta name="handheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__STATIC__master/css/daren_info.css"/>
	<link rel="stylesheet" href="__STATIC__master/css/swipebox.css">
    <script type="text/javascript" src="__JS__js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div class="line_bg">
        <div class="top_pic_bg2">
            <img src="__STATIC__/master/img/top_bg.png"/>
        </div>
        <div class="section_main3">
            <div class="main_txt">
                <div class="main_txt1">
                    <p>您的信息已提交</p>
                    <p>BeaBox正在向你招手~</p>
                    <p>审核通过的小仙女会在3个工作日内</p>
                    <p>收到CC君的确认电话</p>
                </div>
                <div class="main_txt2">
                    <p class="gua_zhu">关注BeaBox，及时获取盒子信息</p>
                    <ul>
                        <li>
                            <p class="hei_pic"><a href="__STATIC__/master/img/hei_1.png" class="swipebox"><img src="__STATIC__/master/img/hei_1.png"/></a></p>
                            <p class="hei_title">care客服</p>
                        </li>
                        <li>
                            <p class="hei_pic"><a href="__STATIC__/master/img/hei_2.png" class="swipebox"><img src="__STATIC__/master/img/hei_2.png"/></a></p>
                            <p class="hei_title">care微信</p>
                        </li>
                        <li>
                            <p class="hei_pic"><a href="__STATIC__/master/img/hei_3.png" class="swipebox"><img src="__STATIC__/master/img/hei_3.png"/></a></p>
                            <p class="hei_title">care微博</p>
                        </li>
                    </ul>
                </div>
                <div class="main_txt3">
                    <p>活动最终解释权归颜匠（上海）信息科技有限公司</p>
                </div>
            </div>

            <img class="fbg_4" src="__STATIC__/master/img/fbg_4.png"/>
        </div>
        <div class="ding_wei_bottom2">
            <img src="__STATIC__/master/img/dingwei_bottom2.png"/>
        </div>
    </div>
	<script src="__STATIC__/master/js/jquery.swipebox.js"></script>
	<script type="text/javascript">
	$( document ).ready(function() {

			/* Basic Gallery */
			$( '.swipebox' ).swipebox();
			
			/* Video */
			$( '.swipebox-video' ).swipebox();

			/* Dynamic Gallery */
			$( '#gallery' ).click( function( e ) {
				e.preventDefault();
				$.swipebox( [
					{ href : 'http://swipebox.csag.co/mages/image-1.jpg', title : 'My Caption' },
					{ href : 'http://swipebox.csag.co/images/image-2.jpg', title : 'My Second Caption' }
				] );
			} );

      });
	</script>
<script>
wx.config({
	appId: "{$ticket[appid]}", // 必填，公众号的唯一标识
	timestamp: "{$ticket[timestamp]}", // 必填，生成签名的时间戳
	nonceStr: "{$ticket[noncestr]}", // 必填，生成签名的随机串
	signature: "{$ticket[signature]}",// 必填，签名，见附录1
	jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','chooseImage','uploadImage']
});
wx.onMenuShareTimeline({
	title: '{$desc}', // 分享标题
	link: '{$shareurl}', // 分享链接
	imgUrl: '{$shareimg}', // 分享图标
	success: function () { 
		// 用户确认分享后执行的回调函数
	},
	cancel: function () { 
		// 用户取消分享后执行的回调函数
	}
});

wx.onMenuShareAppMessage({
	title: '{$title}', // 分享标题
	desc: '{$desc}', // 分享描述
	link: '{$shareurl}', // 分享链接
	imgUrl: '{$shareimg}', // 分享图标
	type: '', // 分享类型,music、video或link，不填默认为link
	dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
	success: function () { 
		// 用户确认分享后执行的回调函数
	},
	cancel: function () { 
		// 用户取消分享后执行的回调函数
	}
});

wx.onMenuShareQQ({
	title: '{$title}', // 分享标题
	desc: '{$desc}', // 分享描述
	link: '{$shareurl}', // 分享链接
	imgUrl: '{$shareimg}', // 分享图标
	success: function () { 
	   // 用户确认分享后执行的回调函数
	},
	cancel: function () { 
	   // 用户取消分享后执行的回调函数
	}
});

wx.onMenuShareWeibo({
	title: '{$title}', // 分享标题
	desc: '{$desc}', // 分享描述
	link: '{$shareurl}', // 分享链接
	imgUrl: '{$shareimg}', // 分享图标
	success: function () { 
	   // 用户确认分享后执行的回调函数
	},
	cancel: function () { 
		// 用户取消分享后执行的回调函数
	}
});
</script>
<script type="text/javascript" src="__JS__js/youmengtongji.js"></script>
<script type="text/javascript" src="__JS__js/delectwenzi.js"></script>
</body>
</html>