<extend name="Public/base"/>
<block name="body">
    <script type="text/javascript" charset="utf-8" src="/Public/Admin/Static/js/ext/webuploader/js/webuploader.js"></script>
    <link href="/Public/Admin/Static/js/ext/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
    <div class="main-title">
        <h2>求职详情</h2>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
    <br/>
    <div>
            <table class="table table-bordered table-striped ">
                <tbody>
                    <tr>
                        <th style='width:150px;'>
                            ID
                        </th>
                        <td >
                            {$job.id}
                        </td>
                    </tr>
                    <tr>
                        <th style='width:150px;'>
                            发布人昵称
                        </th>
                        <td >
                            <a href="{:U('User/user_info?uid='.$job['uid'])}" >{$job.nickname}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布人账号
                        </th>
                        <td>
                            <a href="{:U('User/user_info?uid='.$job['uid'])}" >{$job.username}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            职位
                        </th>
                        <td>
                            {$job.position_name}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            联系方式
                        </th>
                        <td>
                            {$job.mobile}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            工作状态
                        </th>
                        <td>
                            <php> echo get_select('WORK_STATUS' , $job['job_status']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            薪资
                        </th>
                        <td>
                            <php> echo get_select('WORK_SALARY' , $job['salary']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            地点
                        </th>
                        <td>
                            <php> echo get_select('WORK_ADDRESS' , $job['address']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            学历
                        </th>
                        <td>
                            <php> echo get_select('WORK_EDUCATION' , $job['education']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            经验
                        </th>
                        <td>
                            <php> echo get_select('WORK_EXPERIENCE' , $job['experience']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            年龄
                        </th>
                        <td>
                            {$job.age}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            性别
                        </th>
                        <td>
                            <php> echo get_select('WORK_GENDER' , $job['gender']);</php>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            自我介绍
                        </th>
                        <td>
                            {$job.introduce}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布时间
                        </th>
                        <td>
                            {$job.dateline|time_format}
                        </td>
                    </tr>
                </tbody>
            </table>
            
    </div>
    
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
        
        
        $('.form-datetime').datetimepicker({
                language: "zh-CN",
                autoclose: true,
                format: 'yyyy-mm-dd hh:ii'
            });
            $('.form-date').datetimepicker({
                language: "zh-CN",
                minView: 2,
                autoclose: true,
                format: 'yyyy-mm-dd'
            });
            $('.form-time').datetimepicker({
                language: "zh-CN",
                minView: 0,
                startView:1,
                autoclose: true,
                format: 'hh:ii'
            });
            $('.time').change(function () {
                var fieldName = $(this).attr('data-field-name');
                var dateString = $(this).val();
                var date = new Date(dateString);
                var timestamp = date.getTime();
                $('[name=' + fieldName + ']').val(Math.floor(timestamp / 1000));
            });
            $('.form-date').datetimepicker({
                language: "zh-CN",
                minView: 2,
                autoclose: true,
                format: 'yyyy-mm-dd'
            });
            $('.form-time').datetimepicker({
                language: "zh-CN",
                minView: 0,
                startView:1,
                autoclose: true,
                format: 'hh:ii'
            });
            $('.time').change(function () {
                var fieldName = $(this).attr('data-field-name');
                var dateString = $(this).val();
                var date = new Date(dateString);
                var timestamp = date.getTime();
                $('[name=' + fieldName + ']').val(Math.floor(timestamp / 1000));
            });
        
    </script>
</block>